.popup__input_type_description {
  margin: 30px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 0 0 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0 , 0 , .2);
  outline: none;
}