.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}