.popup__close-button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: -40px -40px 0 0;
}

@media screen and (max-width: 480px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-top: -36px;
  }
}